<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/rohit.kumar/Downloads/RestAssuredPOC">
    <classes>
<!--        <class name="testcases.DedupeModule">-->
<!--            <methods><include name="complete_UCIC_Dedupe"/>-->
<!--                <include name="completeFlexcubeDedupe"/></methods>-->
<!--        </class>-->
<!--        <class name="testcases.Login">-->
<!--            <methods><include name="loginTestwithStringPayload"/>-->
<!--                <include name="loginTestwithMapPayload"/></methods>-->
<!--        </class>-->
<!--        <class name="testcases.underWritingModuleTestcases">-->
<!--            <methods><include name="getAllOpenLead"/>-->
<!--                <include name="assignLeadToCP"/><include name="comleteUnderWriting"/>-->
<!--            </methods>-->
<!--        </class>-->

        <class name="testcases.technicalModule">
            <methods><include name="fetchHomeLeads"/>
                <include name="selfAssignLead"/>
                <include name="getAssignedLeads"/>
                <include name="completeTechnical"/>
            </methods>
        </class>
    </classes>
</test>
</suite>