{
  "applicant_type": "primary",
  "applicant_id": "{{applicant_id}}",
  "income_program": "banking_surrogate",
  "income_program_details": {
    "banking_surrogate": {
      "banking": [
        {
          "bank_name": "{{bank_name}}",
          "name": "",
          "account_holder": "{{account_holder}}",
          "account_number": "{{account_number}}",
          "total_credit_amount": 6974000,
          "no_credit_entries": 72,
          "total_debit_amount": 72000,
          "no_debit_entries": 27,
          "inward_cheques_returned": 11,
          "outward_cheques_returned": 0,
          "average_bank_balance": 14567.25,
          "average_income_considered": 14567.25,
          "abb_past_9_months": 19056.34,
          "abb_past_3_months": 1100,
          "calculated_abb_past_3_months": 22867.6,
          "months_12_inflow": 1100,
          "income_considered": 14567.25,
          "id": 1,
          "remark": " ",
          "statement": [
            {
              "month": "05-2024",
              "credit_amount": "400000",
              "no_credit": "2",
              "no_inward_returns": 0,
              "debit_amount": "15000",
              "no_debit": "1",
              "no_outward_returns": 0,
              "balance_on_7th": "28801.25",
              "balance_on_14th": "28801",
              "balance_on_21th": "28801",
              "balance_on_28th": "28801",
              "balance_average": 28801.06,
              "considered_average": 28801.06
            },
            {
              "month": "06-2024",
              "credit_amount": "1150000",
              "no_credit": "4",
              "no_inward_returns": "2",
              "debit_amount": "10000",
              "no_debit": "2",
              "no_outward_returns": 0,
              "balance_on_7th": "28899",
              "balance_on_14th": "28899",
              "balance_on_21th": "28899",
              "balance_on_28th": "28899",
              "balance_average": 28899,
              "considered_average": 28899
            },
            {
              "month": "07-2024",
              "credit_amount": "80000",
              "no_credit": "5",
              "no_inward_returns": "4",
              "debit_amount": 0,
              "no_debit": "1",
              "no_outward_returns": 0,
              "balance_on_7th": "28997",
              "balance_on_14th": "28997",
              "balance_on_21th": "28997",
              "balance_on_28th": "28997",
              "balance_average": 28997,
              "considered_average": 28997
            },
            {
              "month": "08-2024",
              "credit_amount": "460000",
              "no_credit": "1",
              "no_inward_returns": "5",
              "debit_amount": 0,
              "no_debit": "5",
              "no_outward_returns": 0,
              "balance_on_7th": "29092",
              "balance_on_14th": "29092",
              "balance_on_21th": "30031",
              "balance_on_28th": "30031",
              "balance_average": 29561.5,
              "considered_average": 29561.5
            },
            {
              "month": "09-2024",
              "credit_amount": "330000",
              "no_credit": "23",
              "no_inward_returns": 0,
              "debit_amount": 0,
              "no_debit": "6",
              "no_outward_returns": 0,
              "balance_on_7th": "10131",
              "balance_on_14th": "10131",
              "balance_on_21th": "11069",
              "balance_on_28th": "11069",
              "balance_average": 10600,
              "considered_average": 10600
            },
            {
              "month": "10-2024",
              "credit_amount": "830000",
              "no_credit": "6",
              "no_inward_returns": 0,
              "debit_amount": 0,
              "no_debit": "9",
              "no_outward_returns": 0,
              "balance_on_7th": "11104",
              "balance_on_14th": "11104",
              "balance_on_21th": "11104",
              "balance_on_28th": "11104",
              "balance_average": 11104,
              "considered_average": 11104
            },
            {
              "month": "11-2024",
              "credit_amount": "530000",
              "no_credit": "7",
              "no_inward_returns": 0,
              "debit_amount": 0,
              "no_debit": 0,
              "no_outward_returns": 0,
              "balance_on_7th": "11142",
              "balance_on_14th": "11142",
              "balance_on_21th": "11142",
              "balance_on_28th": "11142",
              "balance_average": 11142,
              "considered_average": 11142
            },
            {
              "month": "12-2024",
              "credit_amount": "620000",
              "no_credit": "9",
              "no_inward_returns": 0,
              "debit_amount": 0,
              "no_debit": 0,
              "no_outward_returns": 0,
              "balance_on_7th": "11180",
              "balance_on_14th": "11180",
              "balance_on_21th": "11180",
              "balance_on_28th": "11214",
              "balance_average": 11188.5,
              "considered_average": 11188.5
            },
            {
              "month": "01-2025",
              "credit_amount": "1650000",
              "no_credit": "12",
              "no_inward_returns": 0,
              "debit_amount": 0,
              "no_debit": 0,
              "no_outward_returns": 0,
              "balance_on_7th": "11214",
              "balance_on_14th": "11214",
              "balance_on_21th": "11214",
              "balance_on_28th": "11214",
              "balance_average": 11214,
              "considered_average": 11214
            },
            {
              "month": "02-2025",
              "credit_amount": "170000",
              "no_credit": "1",
              "no_inward_returns": 0,
              "debit_amount": "25000",
              "no_debit": "1",
              "no_outward_returns": 0,
              "balance_on_7th": "1000",
              "balance_on_14th": "1000",
              "balance_on_21th": "1000",
              "balance_on_28th": "1000",
              "balance_average": 1000,
              "considered_average": 1000
            },
            {
              "month": "03-2025",
              "credit_amount": "624000",
              "no_credit": "1",
              "no_inward_returns": 0,
              "debit_amount": "10000",
              "no_debit": "1",
              "no_outward_returns": 0,
              "balance_on_7th": "1100",
              "balance_on_14th": "1100",
              "balance_on_21th": "1100",
              "balance_on_28th": "1100",
              "balance_average": 1100,
              "considered_average": 1100
            },
            {
              "month": "04-2025",
              "credit_amount": "130000",
              "no_credit": "1",
              "no_inward_returns": 0,
              "debit_amount": "12000",
              "no_debit": "1",
              "no_outward_returns": 0,
              "balance_on_7th": "1200",
              "balance_on_14th": "1200",
              "balance_on_21th": "1200",
              "balance_on_28th": "1200",
              "balance_average": 1200,
              "considered_average": 1200
            }
          ],
          "account_type": "{{account_type}}",
          "": 175771
        }
      ]
    }
  }
}