{
  "applicant_type": "primary",
  "applicant_id": {{applicant_id}},
  "income_program": "nip",
  "income_program_details": {
    "nip": {
      "nip_calculation": {
        "1": {
          "1/2025": 50000,
          "2/2025": 50000,
          "3/2025": 50000,
          "average": 50000
        },
        "2": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "3": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "4": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "5": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "6": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "7": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "8": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "9": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "10": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "11": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "12": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "13": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "14": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "15": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "16": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "17": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "18": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "19": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "20": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "21": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "22": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "23": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "24": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "25": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "26": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "27": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "28": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "29": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "30": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "31": {
          "1/2025": 0,
          "2/2025": 0,
          "3/2025": 0,
          "average": 0
        },
        "32": {
          "1/2025": 50000,
          "2/2025": 50000,
          "3/2025": 50000,
          "average": 50000
        }
      },
      "core_business": {
        "sales_receipts": 50000,
        "expenses": {
          "purchases": 1000,
          "electricity_expense": 0,
          "salary": 0,
          "rent": 0,
          "telephone_bill": 0,
          "water_expenses": 0,
          "municipal_tax": 0,
          "finance_cost": 0,
          "conveyance": 0,
          "marketing_expense": 0,
          "stationary_expense": 0,
          "others": 0
        },
        "total_expense": 1000,
        "net_profit": 49000
      },
      "other_incomes": {
        "pension_income": {
          "monthly_income": 0,
          "eligible_income": 0,
          "percentage_to_be_considered": 0
        },
        "rental_income": [
          {
            "property_address": "",
            "property_owner": "",
            "monthly_rent": 0,
            "eligible_income": 0,
            "mode_of_payment": "BANK"
          }
        ],
        "agricultural_income": {
          "current_year": 0,
          "previous_year": 0,
          "eligible_income": 0,
          "current_fiscal_year": "2024 - 2025",
          "previous_fiscal_year": "2023 - 2024"
        },
        "interest_and_dividend_income": {
          "current_year": 0,
          "previous_year": 0,
          "eligible_income": 0,
          "current_fiscal_year": "2024 - 2025",
          "previous_fiscal_year": "2023 - 2024"
        },
        "secondary_business_income": [],
        "other_income_total": 0
      },
      "total_monthly_eligible_income": 49000
    }
  }
}